{% extends 'base.html.twig' %}

{% block title %}
Gestionnaire d'hôtels JeanGab-HotelManager
{% endblock %}

{% block content %}

  
<div class="text-center">
        <img src="{{ env.base_path ~ '/src/assets/hotel-quebec.jpg'}}"">  
        <h1>Bienvenue sur votre gestionnaire d'hotel</br>JeanGab Hotel Manager !</h1>
    </div>

    <hr>

    <div class="card text-center mb-3">
        <div class="card-header">
            <strong>Actions</strong>
        </div>
        <div class="card-body">
            <a href="{{ env.base_path ~ '/clients/new/'}}" class="btn btn-primary">
                Créer un nouveau client
            </a>

            <a href="{{ env.base_path ~ '/rooms/new/'}}" class="btn btn-secondary">
                Créer une nouvelle chambre
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center"><strong>Liste des chambres</strong></div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro de chambre</th>
                        <th>Réservation</th>
                        <th>Occupation</th>
                        <th>Date de départ du client</th>
                        <th>Date d'arrivée du prochain client</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room.number }}</td>
                        <td>
                            {% if room.client.departureDate or room.client.departureDate %}
                            <span class="badge badge-warning">Réservée</span>

                            {% else %}
                            <span class="badge badge-secondary">Non réservée</span>

                            {% endif %}
                            
                        </td>
                        <td>
                            {% if (room.client.entryDate < date()|date('Y-m-d')) and (room.client.departureDate > date()|date('Y-m-d')) %}
                            <span class="badge badge-danger">Occupée</span>


                            {% else %}
                            
                            <span class="badge badge-success">Libre</span>

                            {% endif %}
                        </td>
                        <td>
                            {% if (room.client.entryDate < date()|date('Y-m-d')) and (room.client.departureDate > date()|date('Y-m-d')) %}
                            {{ room.client ? room.client.departureDate|date("d/m/Y")  : '' }}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>

                            {% if (room.client.entryDate < date()|date('Y-m-d')) and (room.client.departureDate > date()|date('Y-m-d')) %}
                            {% else %}
                            {{ room.client ? room.client.entryDate|date("d/m/Y")  : '' }}
                            {% endif %}                        
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{env.base_path ~ '/rooms/' ~ room.id}}">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            

        </div>
    </div>    
{% endblock %}