{% extends "base.html.twig" %}

{% block title %}
    Création d'un client
{% endblock title %}

{% block content %}

        {% if client %}
            <form action="{{ env.base_path ~ '/clients/' ~ client.id ~ '/edit' }}" method="post" class="form">
        {% else %}
            <form action="{{ env.base_path ~ '/clients/new/' }}" method="post" class="form">
        {% endif %}

        <div class="form-group">
            <label for="formFirstname">Prénom</label>
            <input id="formFirstname" type="text" class="form-control" name="firstname" value="{{ client.firstname }}">
        </div>
        <div class="form-group">
            <label for="formLastname">Nom</label>
            <input id="formLastname" type="text" class="form-control" name="lastname" value="{{ client.lastname }}">
        </div>
        <div class="form-group">
            <label for="formEntrydate">Date d'arrivée</label>
            <input id="formEntrydate" type="date" class="form-control" name="entryDate" value="{{ client.entryDate }}">
        </div>
            <div class="form-group">
            <label for="formLastname">Date de départ</label>
            <input id="formLastname" type="date" class="form-control" name="departureDate" value="{{ client.departureDate }}">
        </div>
        <div class="pull-right">
            {% if client %}
            <button class="btn btn-warning">Valider les modifications</button>
            {% else %}
            <button class="btn btn-primary">Créer le client</button>
            {% endif %}
        </div>

    </form>
{% endblock content %}