{% extends 'base.html.twig' %}

{% block title %}
    Liste des clients
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">

            <a href="{{ env.base_path ~ '/clients/new' }}" class="btn btn-primary mb-2">Créer un client</a>

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date d'arrivée</th>
                        <th>Date de départ</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.id }}</td>
                            <td>{{ client.firstname }}</td>
                            <td>{{ client.lastname }}</td>
                            <td>{{ client.entryDate }}</td>
                            <td>{{ client.departureDate }}</td>
                            <td>
                                <a href="{{ env.base_path ~ '/clients/' ~ client.id }}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>
{% endblock content %}